.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    cursor: pointer;
    transition: transform .1s;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-image {
    max-height: 90px;
    margin-bottom: 10px;
}

.card-name {
    font-weight: bold;
}