.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 35px;
  grid-template-areas: 
  "header"
  "content"
  "footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
  display: grid;
  font-weight: bold;
  background-color: #112D4E;
  color: white;
  text-align: center;
  align-items: center;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scores-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px;
}

.info {
  margin: 20px;
  text-align: center;
}

.footer {
  background-color: #DBE2EF;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: black;
  text-decoration: none;
}